/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
header {
    background-image: url(http://lorempixel.com/output/nature-q-g-1440-400-3.jpg);
    width: 100%;
    padding-top: 1ex;
    padding-bottom: 1em;
}

.heading-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headingnav {
    color: black;
    text-align: center;
}

.headingnav > a {
    color: white;
    text-decoration: none;
}

.logo{
    border-color: white;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5ex;
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
}

.headertext {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.page-title {
    color: white;
    font-size: 200%;
    margin-bottom: 0;
    margin-top: 0;
}

.subtitle {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 90%
    
}

.page-container {
    
}

.main-section {
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
}

.side-column {
    
}

.main-column {
    
}

.blog-article {
}

.article-title {
    font-size: xx-large;
    color: #0B3451;
}

time {
    text-decoration-style: solid;
    padding-bottom: 2em;
    color: #B2BFC8;
    text-decoration: underline;
}

.article-text {
    color: #9BA1A5;
}

.article-text > article-link {
    color: #B2BFC8;
}

.article-text > article-link:rollover {
    color: #5691C6;
}


.blockquote-div {
    border-left: thin;
    border-left-color: #D3D3D3;
    border-left-style: solid;
    padding-left: 1em;
    color: #0D5EAE;
    font-size: 3ex; 
}

.article-footer {
    
}

.article-buttons > a {
    text-decoration: none;
    color: white;
    background-color: #5C696E;
    padding: 1ex
}

.article-buttons > a:hover {
    background-color: #0B3451;
}

footer {
    background-color: #0B3451;
    color: #A4B4BF;
    text-align: center;
    text-decoration: none;
}

footer > nav > a {
    color: #A4B4BF;
    text-decoration: none;
}









/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}